/* body {
    height: 100%;
} */
.gray {
    background-color: #eee;
    padding-bottom: 15px;
    border: none;
}

.blue {
    margin: 10px;
    width: 155px;
    background-color: rgb(89, 114, 255);
}

.flex-box {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.flex-box-no-wrap {
    display: flex;
}

#uv {
    padding: 5px;
    border-radius: 5px;
}

.list-group {
    cursor: pointer;
}
