
.gray {
    background-color: #eee;
    padding-bottom: 15px;
    border: none;
}

.cities {
    /* Limit width to width of input box + submit button */
    max-width: 342px;
}

.blue {
    margin: 5px;
    width: 155px;
    background-color: #007BFF;
    color: white;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-box-no-wrap {
    /* Don't allow botton to wrap below input box */
    display: flex;
}

#uv {
    padding: 5px;
    border-radius: 5px;
}

.list-group {
    cursor: pointer;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    /* Always on top */
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #def;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /* Highlight selected autocomplete div when using keyboard controls */
    background-color: #007BFF !important;
    color: #ffffff;
  }
